@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

#container-geral,#container-relogio,.padrao-div{
    display: flex;
    justify-content: center;
    align-items: center;

}

#container-geral{
    height: 100vh;
    
}

#container-relogio{
    height: 170px;
    width: 370px;
    justify-content: space-evenly;
    background-color: ;
    border-radius: 20px;
    box-shadow: 1px 1px 3px #3f3838;

}

.padrao-div{
    height: 120px;
    width: 90px;position: relative;
    overflow: hidden;
    font-size: 40px;
    padding-bottom: 15px;
    background-color: #1B4859;
    color:rgb(241, 227, 227);
    border-radius: 10px;
    border: 0.5px solid #6b6363;

}

#hora::after,#minuto::after,#segundo::after{
    content: 'Horas';
    width: 74px;
    position: absolute;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    margin-top: 102px;
    padding: 10px;
    background-color: #256e88;
    color: #E9EFF2;


}

#minuto::after{
    content: 'Minutos';
}

#segundo::after{
    content: 'Segundos';
}




#container-pontos{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 127px;
    font-size: 50px;
    font-family: 'Lato', sans-serif;

}