@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=REM&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'REM', sans-serif;

}

body{
    background-color: #fff2f2;
}

#tema{
    height: 30px;
    width: 100px;
    background-color: #021d2e;
    border-radius: 15px;
    color: white;
    font-size: 12px;

}

#container-geral,#container-relogio,.padrao-div{
    display: flex;
    justify-content: center;
    align-items: center;

}

#container-geral{
    height: 90vh;
    flex-direction: column;
    gap: 20px;
    color: white;

}

#container-relogio{
    height: 170px;
    width: 370px;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 1px 1px 2px #000000a4;

}

.padrao-div{
    height: 120px;
    width: 90px;position: relative;
    overflow: hidden;
    font-size: 40px;
    padding-bottom: 15px;
    color:#fff2f2;
    border-radius: 10px;
    background-color: #021d2e;

}

#hora::after,#minuto::after,#segundo::after{
    content: 'Horas';
    width: 74px;
    position: absolute;
    text-align: center;
    font-size: 10px;
    margin-top: 85px;
    padding: 4px 8px;
    color: #E9EFF2;
    border: 0.1px solid #e9eff25d;

}

#minuto::after{
    content: 'Minutos';
}

#segundo::after{
    content: 'Segundos';

}

#container-pontos{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 127px;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    color: #E9EFF2;

}