@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=REM&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'REM', sans-serif;

}

body{
    background-color: #fff2f2;
}

#chk{
    display: none;
}

#chk:checked ~ #tema{
    background-color: #e6e5e3;
}

#chk:checked ~ #tema > #sol{
    color: #021d2e;
}

#chk:not(:checked) ~ #tema > #sol{
    color:#021d2e;

}

#chk:checked ~ #tema > #lua{
    color:#e6e5e3;

}

#chk:checked ~ #tema > #circulo{
   transform: translateX(43px);
   background-color: #021d2e;
   
}

#chk:checked ~ #container-relogio > .padrao-div::after{
    color: #021d2e;
    border: 0.1px solid #021d2e;

}

#tema{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 7px;
    height: 33px;
    width: 80px;
    border-radius: 30px;
    color: white;
    font-size: 12px;
    display: flex;
    background-color: #021d2e;
  
}

#circulo{
    position: absolute;
    border-radius: 50%;
    padding: 13.5px;
    top: 2.5px;
    left: 4px;
    background-color:#e6e3e3;
    transition: transform 0.5s ease;

}

#container-geral,#container-relogio,.padrao-div{
    display: flex;
    justify-content: center;
    align-items: center;

}

#container-geral{
    height: 90vh;
    flex-direction: column;
    gap: 20px;
    color: white;

}

#container-relogio{
    height: 170px;
    width: 370px;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 1px 1px 2px #000000a4;

}

.padrao-div{
    height: 120px;
    width: 90px;position: relative;
    overflow: hidden;
    font-size: 40px;
    padding-bottom: 15px;
    color:#fff2f2;
    border-radius: 10px;
    background-color: #021d2e;

}

.padrao-div::after{
    content: 'Horas';
    width: 74px;
    position: absolute;
    text-align: center;
    font-size: 10px;
    margin-top: 85px;
    padding: 4px 8px;
    color: #E9EFF2;
    border: 0.1px solid #e9eff25d;

}

#minuto::after{
    content: 'Minutos';

}


#segundo::after{
    content: 'Segundos';

}
